/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Стили для заголовка таблицы */
thead {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: 10px;
}

/* Стили для строк с данными */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

/* Стили для ячеек с данными */
td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Стили для ссылок в ячейках */
td a {
    text-decoration: none;
    color: #0077cc;
}

td a:hover {
    text-decoration: underline;
}

/* Стили для кнопок */
.actionButton {
    background-color: #0077cc;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.addButton{
    background-color: #0077cc;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #005599;
}
